sp-table table {
  width: 100%;
  text-align: center;

  &.high-columns {
    > tbody > tr > td {
      padding: 1em;
    }
  }

  > thead {
    border-bottom: 1px solid #aaaaaa;

    > tr > th {
      padding: 0.5em 1em;
      font-weight: 400;

      &.sort {
        > span {
          display: inline-block;
          padding-left: 1em;
          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 1em;
            height: 1em;
            background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/dropdown-arrow-transparent-down.png');
            background-size: 100% 100%;
            background-color: #000000;
          }
        }

        &.reverse {
          > span:after {
            background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/dropdown-arrow-transparent-up.png');
          }
        }
      }
    }
  }

  > tbody > tr {
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    > td {
      border-bottom: 1px solid #eeeeee;
      padding: 0.2em 0;
      /*font-weight: 100;*/
      font-size: 0.8em;
      vertical-align: middle;

      &.text-align {
        text-align: left;
      }

      img {
        max-height: 6em;
      }
    }
  }
}

.rtl {
  sp-table table {
    > thead > tr > th {
      &.sort > span {
        padding-left: 0;
        padding-right: 1em;

        &:after {
          left: auto;
          right: 0;
        }
      }
    }

    > tbody > tr > td.text-align {
      text-align: right;
    }
  }
}