<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../dist/sp-table.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="../dist/sp-table.js"></script>

    <script>
        angular.module('Test', ['spTable'])
                .config(function () {

                })
                .run(function () {

                });
    </script>
</head>
<body ng-app="Test">
<sp-table items="[1,2,3,4]">
    <sp-table-column title="#" sort-by="id">
        {{item}}
    </sp-table-column>
</sp-table>
</body>
</html>